<footer class="default-primary-color" style="padding: 20px;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="white-text" style="font-size: 18px">ReallyTourVR Testimonials</p>
        <h5 class="grey-text text-lighten-4" style="text-align: center;">"ReallytourVR is, by far, the best way to market houses.  But don't quote me on that."</h5>
        <h5 class="grey-text text-lighten-4" style="text-align: right;"> - John Smith</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <p class="white-text" style="font-size: 18px">Links</p>
        <ul>
          <li><a class="grey-text text-lighten-3" (click)="globals.navigate('/')">About Us</a></li>
          <li><a class="grey-text text-lighten-3" (click)="globals.navigate('/terms')">Terms</a></li>
          <li><a class="grey-text text-lighten-3" (click)="globals.navigate('/privacy')">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" (click)="globals.navigate('/')">Site Map</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Currentel
      <a class="grey-text text-lighten-4 right" href="#!">Careers.</a>
    </div>
  </div>
</footer>
